* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */

.container {
    width: 80%;
    margin: 0 auto;

    /* background-color: aqua;
    height: 300px;*/
} 

/* Layover */
/* Con pseudoelemento */
.with-layover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

/* Con div messo all'interno del html */
.layover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

.mt-2 {
    margin-top: 2em;
}

/* BANNER */
.banner {
    position: relative;
    height: 400px;
    border-radius: 2em;
    overflow: hidden;
    background-image: url(../img/dolomites.jpg);
    background-size: cover;
    background-position: center;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    bottom: 2em;
    left: 1em;
    width: 60%;
    color: white;
}

/* OVERFLOW */
/* Prova overflow */
.text-container {
    width: 50%;
    height: 200px;
    background-color: bisque;
    overflow: hidden;
}
